.react-calendar {
  width: auto;
  overflow-x: scroll;
}
.react-calendar__month-view__weekdays {
  display: none !important;
}

.react-calendar__month-view__days {
  flex-wrap: nowrap !important;
}

.react-calendar__month-view__days__day {
  min-width: 7%;
  max-width: 10%;
}
.react-calendar__tile,
.react-calendar__month-view__days__day {
  margin: 0 !important;
}

.react-calendar__month-view__days__day--weekend {
  color: inherit;
}

.react-calendar__tile > time {
  display: none;
}

.react-calendar__month-view__days > button {
  margin: 0;
  padding: 0;
}
